extends ./layout.jade

block title
   title Banana Farm

block uppercontent
   h1 Welcome to the Banana Farm!

block lowercontent
   p This extremely useful site allows you to keep track of your friends and family by turning them into bananas. Isn't that great?